.vartm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  color: #fff;
  background-color: #43629d;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
